@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
    /*equivale a container*/
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/hd-wallpaper-g8a826172f_1920.jpg);
}

/* /////////////////section de info__a__ingresar //////////////////// */

.info__a__ingresar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    width: 50%;
    height: 95%;
    left: 10%;
    top: 2%;
    
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/* /////////////////Codigo para el boton//////////////////// */

.botones {
    display: flex;
    flex-direction: row;
    align-items: self-start;
    justify-content: space-around;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 85%;
}

.btn {
    background-color: transparent;
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 19px;
    text-align: center;
}

/* ////////////////////// /////////////////////*/

.posicion__logo {
    position: relative;
    width: 8%;
    top: 0%;
    left: 0%;

}

.parrafo__inicial {
    /*equibale a texto del textarea*/
    position: absolute;
    width: 80%;
    height: 70%;
    left: 10%;
    top: 10%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #f3f5fc;
}

.parrafo__inicial:playing {
    color: blue;
}

.parrafo__inicial:focus,
.parrafo__inicial:active {
    border: none;
    outline: none;
}
.parrafo__final{
    position: absolute;
    width: 90%;
    height: 75%;
    left: 5%;
    top: 5%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}
.terminos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
}

.terminos p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: rgb(25, 25, 25);
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}



.boton {

    color: #dad8d8;
    transition: all 0.8s;
    position: relative;
    border: 0;
    color: #242cc8;
}

.boton::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.8s;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #242cc8;
    border-bottom-color: #242cc8;
    transform: scale(0.1, 1);
}

.boton:hover::before {
    letter-spacing: 2px;
    opacity: 1;
    transform: scale(1, 1);
}

.boton::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.8s;
    background-color: rgba(107, 167, 205, 0.2);

}

.boton:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}

/*   /////  section para info__a__mostrar ///  */

.info__a__mostrar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    width: 30%;
    height: 95%;
    left: 65%;
    top: 2%;
    background: #fff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.mensaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}

.mensaje h2 {
    width: 60%;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343a40;
}

.mensaje p {
    width: 80%;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    columns: #494949;
}

.info__a__mostrar img {
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
}

/*  Responsive design  */
@media(max-width: 57.5em) {
    main {
        display: flex;
        flex-direction: row;
    }

    .info__a__ingresar {
        width: 100%;
    }

    .parrafo__inicial {
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }

    .terminos {
        width: 80%;
        left: 10%;
        top: 67%;
    }

    .terminos p {
        font-size: 16px;
    }

    .boton {
        width: 80%;
        left: 10%;
        top: 70%;
    }

    .info__a__mostrar {
        width: 80%;
        height: 15%;
        left: 10%;
        top: 80%;
    }

    .parrafo__final {
        width: 100%;
        top: 5%;
    }

    .info__a__mostrar img {
        top: 0;
        display: none;
        visibility: hidden;
    }
}

