@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

* {
    margin: 0;
    padding: 0;
}

main {
    /*equivale a container*/
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/hd-wallpaper-g8a826172f_1920.jpg);
}
/* /////////////////Codigo para el boton//////////////////// */

.botones{
    display: flex;
    flex-direction: row;
    align-items: self-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;
}

.btn {
    background-color: transparent;
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 19px;
    text-align: center;
}

/* ////////////////////// /////////////////////*/

.posicion__logo{
position: relative;
width: 8%;
top: 0%;
left: 0%;

}

.parrafo__inicial {
    /*quibale a texto del textarea*/
    position: absolute;
    width: 40%;
    height: 60%;
    left: 12%;
    top: 15%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #f3f5fc;
}

.parrafo__inicial:playing {
    color: blue;
}

.parrafo__inicial:focus,
.parrafo__inicial:active {
    border: none;
    outline: none;
}

.terminos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
}

.terminos p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: rgb(25, 25, 25);
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}



.boton {
	
    color: #dad8d8;
	transition: all 0.8s;
	position: relative;
    border: 0;
    color: #242cc8;
}

.boton::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.8s;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color:#242cc8;
	border-bottom-color: #242cc8;
	transform: scale(0.1, 1);
}
.boton:hover::before {
    letter-spacing: 2px;
	opacity: 1;	
	transform: scale(1, 1);	
}
.boton::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.8s;
	background-color:rgba(107, 167, 205, 0.2);
    
}
.boton:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}
/*45:20*/

.info__a__mostrar{
    display: flex;
    justify-content: center;
    position: absolute;
    width:30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background: #fff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}