/*html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 100%;
    max-width: 100%;
}

/* ///////////////////////////  CSS para definir los tamaños de las cajas  ////////////////////////////////////// *//*

main>.logo {
    flex: 0 0 10%;

}

main>.info__a__ingresar {
    flex: 0 0 60%;

}

main>.info__a__mostrar {
    flex: 0 0 30%;

}

main>* {
    max-width: 100%;
}

*,
::before,
::after {
    box-sizing: border-box;
}
*/
/* //////////////////////////////////////////////////////////////////// *//*
.info__a__ingresar,
.info__a__mostrar,
.logo,
.botones {
    display: flex;
}

.logo {
    flex-direction: column;
    padding-top: 10% 10% 0;
    background-position: top;


}

.posicion__logo {
    max-width: 100%;
    width: 80px;
    height: 80px;
}

.info__a__ingresar {
    background: #77acdf;
    flex-direction: column;
    padding: 5% 3% 3%;
}

.info__a__mostrar {
    flex-direction: column;
    padding: 5% 3% 3%;
    position: relative;
    flex: 1;
    max-width: 100%;
    background-color: #d1d1e3;
}

.botones {
    justify-content: center;
}




*/
/* ///////////////////////  CSS Para Los Botones  ////////////////////////// *//*
.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.btn:hover,
.btn:focus {
    color: #fff;
    outline: 0;
}

.boton {
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.boton:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}
.parrafo__info{
    border-radius: 10px;
}*/

*{
    margin: 0;
    padding: 0;
}

main{/*equivale a container*/
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/hd-wallpaper-g8a826172f_1920.jpg);
}

.parrafo__inicial{/*quibale a texto del textarea*/
position: absolute;
width: 40%;
height: 60%;
left: 12%;
top: 15%;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;
   
}
